ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scipy
scikit-learn==1.4.0
imbalanced-learn==0.12.2
xgboost
catboost
from_root
evidently==0.2.8
dill
PyYAML
neuro_mf
boto3
mypy-boto3-s3
botocore
fastapi
uvicorn
jinja2
python-multipart
fsspec
huggingface_hub
from_root

-e .